#desktop-template #featured-slider #slides {
    position: absolute;
    top: 0;
    width: 66%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    background-color: #000;
  }

#wrap *, #wrap :before, #wrap :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  #desktop-template #featured-slider .item.cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border-right: 3px solid #FFF;
    background-position: center;
    transition: all 1.5s;
    opacity: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#desktop-template #featured-slider .item.active {
    opacity: 1;
    z-index: 1;
}

#desktop-template #featured-slider .text {
    position: absolute;
    bottom: 0;
    padding: 0 0 55px 0;
    z-index: 2;
    white-space: normal;
    width: 100%;
  }

  .clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

#desktop-template #featured-slider .item .category {
    font-size: 12px;
    line-height: 30px;
  }

#desktop-template #featured-slider .text a {
    font-size: 30px;
    line-height: 40px;
  }

#featured-section a.link {
    color: #FFF;
  }

#wrap .link {
    color: #229AE4;
    display: block;
  }

  .clearfix:after {
    clear: both;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .35) 100%);
    background-image: -o-linear-gradient(-180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .35) 100%);
    background-image: -ms-linear-gradient(-180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .35) 100%);
    background-image: -moz-linear-gradient(-180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .35) 100%);
}

#desktop-template #featured-slider .slide-nav {
    z-index: 4;
    position: absolute;
    bottom: 28px;
    left: 30px;
  }

  #desktop-template .navdot {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #908984;
    display: inline-block;
    margin: 0 4px 0 0;
}

#desktop-template #featured-slider .navdot.active {
    background: #FFF;
}

#desktop-template #featured-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 34%;
    height: 100%;
    display: inline-block;
  }

  #desktop-template #featured-side .item.cover:nth-child(1) {
    height: 43.75%;
    border-bottom: 3px solid #FFF;
    margin: 0;
  }

  #desktop-template #featured-side .item.cover {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  #people-browse-widget {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(/common/images/bg/profiles-header-bg.jpg);
  }

  #people-browse-widget>div:first-child {
    width: 40%;
    padding: 0 1% 0 6%;
  }

  #people-browse-widget>div {
    height: 100%;
    float: left;
    position: relative;
  }

  .profile-carousel {
    position: relative;
    height: 100%;
  }

  .profile-carousel li {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    transition: 2s all;
    transform: translate(0, -48%);
  }

  .profile-carousel li .selected{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    transition: 2s all;
    transform: translate(0, -48%);
  }

  .profile-carousel a {
    display: block;
    text-align: center;
    margin: 4px;
    font-size: 10px;
    line-height: 13px;
  }

  .profile-carousel a>div:first-child {
    position: relative;
  }

  .profile-carousel .connectButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .connectButton>span:first-child, .notReversed.connected>span:first-child, .connected.showDisconnected>span:first-child, .connected.reversed.showDisconnected>span:first-child {
    z-index: 1;
    margin-left: -11px;
  }

  .profile-carousel span {
    display: block;
    color: #FFF;
  }

  .profile-carousel img {
    width: 100%;
    display: inline-block;
  }

  .profile-carousel span.role {
    font-weight: 200;
    color: #000;
  }

  #people-browse-widget>div:nth-child(2) {
    width: 60%;
  }

  #people-browse-widget .people-search {
    z-index: 5;
  }

  #people-browse-widget>div {
    height: 100%;
    float: left;
    position: relative;
  }

  #people-browse-widget form {
    padding: 0 40px 40px;
    position: absolute;
    top: 50%;
    width: 95%;
    left: 0;
    transform: translate(0, -50%);
  }

  #people-browse-widget form header {
    text-align: center;
    margin-bottom: 10px;
  }

  #people-browse-widget form header h3 {
    font-size: 10px;
}

#people-browse-widget form>div {
    margin-top: 4px;
    display: none;
  }

  #people-browse-widget form input[type="text"], #people-browse-widget form select {
    padding: 4px;
    font-size: 10px;
    background-color: #FFF;
  }

  #people-browse-widget form>div>span {
    display: block;
    font-size: 11px;
    padding: 0 6px 6px;
    text-align: left;
}

 

